*{
	padding: 0;
	margin: 0;
}
body{
	background-image: url(image/main.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}
.main{
	width:980px;
	margin: 0 auto;
	position: relative;
}


/*floor 1*/
.floor1{
	margin-top: 40px;
}
.yellow{
    background-color: #fd0;
	width: 240px;
	height: 20px;
	color: black;
	float: right;
	font-size: 13px;
	white-space: nowrap;
	margin-right: 20px;
}

/*end floor 1*/
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(http://themes.googleusercontent.com/static/fonts/oswald/v8/-g5pDUSRgvxvOl5u-a_WHw.woff) format('woff');
}

@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster'), url(http://fonts.gstatic.com/s/lobster/v9/MWVf-Rwh4GLQVBEwbyI61Q.woff) format('woff');
}

.floor2{
	margin-top: 10px;
	background-color: white;
}


.menu li.right{
	padding: 20px 30px 20px 0px;
}

.menu li a{
	text-decoration: none;
	text-transform: capitalize;
	font-size: 15px;
	font-family: oswald;
	color: gray;
	text-align: center;
	white-space: nowrap;
	display: block;
}

.menu li a:hover{
		color: black;
}
 /*start sub menu */

.menu li:hover > menu{
	    pointer-events:auto;
	    display: block;
} 
.menu li menu{
	position: absolute;
	background-color: white;
	top: 70px;
	max-width: 100%;
	display: none;
    pointer-events:none;
    box-shadow: 0px 0px 3px #222;
}

.menu li li{
	list-style-type: none;
	margin-top: 10px;
}

.menu li li a:first-child{
	border-top: none;
}
.menu li menu a{
		padding: 10px 10px 0 0;
		border-top: 1px ridge black;
		font-family: arial;
		white-space: nowrap;
}

.menu li li a:first-child{
	border: none;
}

/*end floor 2*/

.floor3{

 margin-top:20px;
 background-color: white; 
}

.box1{
	float: left;
	padding: 20px 20px 20px 20px;
	width:75%;
}
.img{
	width: 700px;
	height:350px;
	background-image: url('image/slidebar.jpg');
}

.b32{
	float: right;
	padding: 20px 20px 20px 20px;
	width: 25%
}

/*end floor3*/

.floor4{
	background-color: white;

}


.dotted{
	background-image: url('image/dots.gif');
	width: 830px;
	height: 9px;
	float: left;
	display: block;
	margin: 20px  0 0 10px;
}

/*end floor4*/
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster'), url(http://fonts.gstatic.com/s/lobster/v9/MWVf-Rwh4GLQVBEwbyI61Q.woff) format('woff');
}



.floor5{
	background-color: white;
}

.box1{
	float: left;
	margin:20px 0 0 0;
	width: 25%; 
}

.imga{
	background-color: yellow;
width: 220px;
height: 140px;
}

.imga img:hover{
	opacity: 0.5;
}

.matn{
background-color: #eee;
width: 221px;
height: 80px;
}
.matn h3{
font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
font-weight: bold;
font-size: 16px;
text-align: center;
}

.matn p{
font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
color: #888;
font-size: 13px;
text-align: center;
}

/*end floor5*/